### IntelliJ IDEA ###\
/.idea/
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Project Specific ###
/Udemy/TailwindCSS/dist/
/Udemy/TailwindCSS/node_modules/

/Hyperskill/Kotlin_Core/Kotlin_Core.iml
/Hyperskill/Introduction_To_Javascript/node_modules/
/Hyperskill/Introduction_To_Javascript/Introduction_To_JavaScript.iml
/Hyperskill/SQL_For_Backend_Developers/SQL_For_Backend_Developers.iml
/Hyperskill/Java_Developer/src/Projects/placeholder
/Hyperskill/Java_Developer/Java_Developer.iml
/Hyperskill/Java_Developer/src/Demo.java

/SoftUni/Java/03_Advanced/02_Fundamentals.iml
/SoftUni/Java/03_Advanced/03_Advanced.iml
/SoftUni/Java/04_OOP/.mvn/
/04_OOP.iml

