.container_card {
    position: relative;
}

.main {
  display: flex;
}

.container_card {
  min-width: 250px;
  max-width: 250px;
  border: 1px solid rgb(189, 186, 186);
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-left: 20px;
}

.image_container {
  text-align: center;
}

.image_container > img {  
  max-width: 100%;
  margin: 0 auto;
  width: 80%;
}

.buy_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buy {
  height: 40px;
  width: 100px;
  
}

.price_container {
  display: flex;
  flex-direction: row;
  width: 40px;
  align-items: center;
}

.price_container > p {
  margin-right: 10px;
  
}

.stock_badge {
  width: 70px;
  height: 30px;
  background-color: rgb(151, 33, 230);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 10px;
  position: absolute;
}

.stock {
  color: grey;
  text-decoration: line-through; 
}

.real_price {
  color: rgb(151, 33, 230);
  font-weight: 600;
  font-size: 1.6em;
}

.describe {  
  font-family: monospace;
  font-size: 1.5em;
  text-align: center;
  text-transform: uppercase; 
}


