main {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

.iframe-container #weather-frame {
    width: 100%;
    height: 40vh;
    pointer-events: none;
}

.iframe-container #video-frame {
    width: 100%;
    height: 80vh;
    position: relative;
    text-align: center;
    background-color: black;
    background-repeat: repeat;
}

.iframe-container .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    color: #fff;
}

.iframe-container .video-overlay h1 {
    position: relative;
    top: 150px;
    color: #fff;
    font-size: 73px;
    margin: 0;
    text-align: center;
    pointer-events: none;
}

.iframe-container #button-join {
    position: absolute;
    border: solid 4px #fff;
    color: #fff;
    padding: 5px 10px;
    background-color: transparent;
    font-size: 24px;
    bottom: 0;
    pointer-events: none;
    cursor: pointer;
    margin-bottom: 50px;
}

.distance-container h2 {
    font-size: 32px;
}

.distances { list-style: none; margin: 0; padding: 0; }

.distance-container {
    max-width: 1000px;
    align-items: center;
    align-content: center;
    margin: 40px 0;
}

.distance {
    display: table;
    clear: both;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    padding: 5px;
}

.distance img {
    width: 45%;
    height: auto;
}

.distance:nth-child(odd) img {
    float: left;
    margin-left: 15px;
    padding-right: 15px;
}

.distance:nth-child(even) img {
    float: right;
    margin-right: 15px;
    padding-left: 15px;
}