body {
    margin: 0;
    height: 50vh;
    align-items: center;
}

#main-title {
    margin: 5px 0;
    font-size: 25px;
}

#rgb-color {
    margin: 5px 0;
    font-size: 35px;
    font-weight: bold;
}

#status {
    line-height: 1.5px;
    font-size: 20px;
}

#restart {
    position: static;
    margin-top: 50px;
    padding: 10px 20px;
    font-size: 15px;
    background-color: azure;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 100vh;
    background-color: dimgrey;
    text-align: center;
}

.blocks-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.color-block {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    padding: 30px;
    cursor: pointer;
}
